body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.smallerArticle {
  margin-bottom: 50px;
}

.biggerArticle {
  flex: 100%;
  margin-bottom: 50px;
}

.category-header {
  height: 65px;
  width: 100%;
  text-align: left;
  margin-bottom: 10px;
  position: relative;
}

.category-header::before {
  content: "";
  width: 100%;
  position: absolute;
  bottom: 0;
  border-bottom: 10px solid darkcyan;
}
